# Config 
#
# class	    = { FC | STD | NP }
# postage   = { PI | Precancelled Stamp | PS }
# permit    = \d    # this should be the mail permit. If the class is Precanceled Stamp, then this
#		    # is where the balance would be taken from 
# height    =
# width	    =
# weight    =
# thickness =
# owner	    =
#
