# Config 
#
#-----------------------------------------------------------------------------------
# REQUIRED BY THE API
#
# presort_class			= { FC | STD | NP }
# mail_pay_method		= { IMPRINT | METER | STAMP }
# mail_permit_number		= %d    # this should be the mail permit. If the class is Precanceled Stamp, then this
#					# is where the balance would be taken from 
# mail_piece_size		= { CARD | LETTER | FLAT | PARCEL }
# piece_height			= %2.4f
# piece_length			= %2.4f
# weight_value			= %2.4f
# thickness_value		= %1.4f
# mailing_date			= MM/DD/YYYY
#
# postage_affixed		= %1.3f	    # Only applicable when postage is stamps
# net_postage_due_permit_number	= %d	    #  "         "         "         "
# move_update_method		= { NCOALink | ... }
# move_update_method_date	= MM/DD/YYYY
# 
#-----------------------------------------------------------------------------------
# REQUIRED BY THE API BUT DEFAULT VALUES DEFINED IN THE MODULE
#
# drop_zip			= ZIP code of BMEU entry
# calculate_container_volume	= 1
# machinability			= MACHINABLE
# print_barcode			= 1
# print_imb			= 1
# weight_unit			= OUNCES
# include_crrt			= 1
#
#-----------------------------------------------------------------------------------
# REQUIRED BY THE API BUT DEFAULT VALUES DETERMINED BY OTHER VALUES
#
# tray_type			= EMM is default unless $type is FLAT, then 0MM
# mail_permit_type		= { PROFIT | NONPROFIT }
# include_non_zip4		= 1 for FC, 0 for STD/NP
# statement_number		= %d
#
# agent_or_mailer_signing_statement
# agent_or_mailer_company
# agent_or_mailer_phone
# agent_or_mailer_email
#
# mailing_agent_mailer_id
# mailing_agent_crid
# mailing_agent_edoc_sender_crid
#
# permit_holder_mailer_id
# permit_holder_crid
#
# TODO Consider what to do with the following:
# imb_mid
# imb_starting_serial_number
# Presort Exclusion Filters
# canadian (provides CASS of Canadian addresses)
#
#-----------------------------------------------------------------------------------
# NOT REQUIRED BY THE API BUT GENERALLY USED
#
# pallets			= { 1 | 0 } # Should be 1 unless FC
# packages_on_pallets		= { 1 | 0 } # Should be 1 if FLAT or PARCEL
# permit_holder_caps
